@use "sass:color";

$primary-colour: #fd6612;
$secondary-colour: #141f41;
$secondary-light: #b8bdd6;

:root {
  --primary-colour: #{$primary-colour};
  --secondary-colour: #{$secondary-colour};
  --secondary-light: #{$secondary-light};
}

body {
  margin: 0;
  color: $secondary-colour;
}

a {
  color: color.adjust($primary-colour, $lightness: -15%);
  &:hover {
    color: $primary-colour;
  }
}

#nprogress .bar {
  background: rgba($primary-colour, 0.88);
}

#nprogress .peg {
  box-shadow:
    0 0 10px color.adjust($primary-colour, $lightness: -25%),
    0 0 5px color.adjust($primary-colour, $lightness: -25%);
}

#nprogress .spinner-icon {
  display: none;
}
