@use "sass:color";

$primary-colour: #fd6612;
$secondary-colour: #141f41;
$secondary-light: #b8bdd6;
$longest-line: #5bc0eb;

:root {
  --primary-colour: #{$primary-colour};
  --secondary-colour: #{$secondary-colour};
  --secondary-light: #{$secondary-light};
  --longest-line: #{$longest-line};
}

body {
  margin: 0;
  background-color: #000;
  color: $secondary-colour;
}

html {
  filter: brightness(100%);
  transition: filter 0.3s ease;
}

.is-dimmed {
  opacity: 0.3;
  pointer-events: none;
}

a {
  color: color.adjust($primary-colour, $lightness: -15%);
  &:hover {
    color: $primary-colour;
  }
}

#nprogress .bar {
  background: rgba($primary-colour, 0.88);
}

#nprogress .peg {
  box-shadow:
    0 0 10px color.adjust($primary-colour, $lightness: -25%),
    0 0 5px color.adjust($primary-colour, $lightness: -25%);
}

#nprogress .spinner-icon {
  display: none;
}

.maplibregl-canvas-container.maplibregl-interactive {
  cursor: pointer;
}

.maplibregl-canvas {
  background-color: #131e40;
}
