public/longest_lines
public/scratch
public/**/*.tiff
public/longest_lines_grided.bin

# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
